@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
@await Component.InvokeAsync("_HeadPartialComponent")

<body id="top">

    <!-- header
    ================================================== -->
    @await Component.InvokeAsync("_NavbarPartialComponent")
    <!-- end s-header -->
    <!-- home
    ================================================== -->
    @await Component.InvokeAsync("_FeaturePartialComponent")
    <!-- end s-home -->
    <!-- about
    ================================================== -->
    @await Component.InvokeAsync("_AboutPartialComponent")
    <!-- end about -->
    <!-- works
    ================================================== -->
    @await Component.InvokeAsync("_PortfolioPartialComponent")
    <!-- end works -->
    <!-- testimonials
    ================================================== -->
    @await Component.InvokeAsync("_TestimonialPartialComponent")
    <!-- end s-testimonials -->
    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_StatisticPartialComponent")
    <!-- end s-stats -->
    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_ContactPartialComponent")
    <!-- end s-contact -->
    <!-- footer
    ================================================== -->
    @await Component.InvokeAsync("_FooterPartialComponent")
    <!-- end footer -->
</body>

</html>
